@font-face {
  font-family: "PlayfairDisplay";
  font-style: normal;
  font-weight: 400;
  src: local("PlayfairDisplay"),
       url("PlayfairDisplay/regular.woff2") format("woff2"),
       url("PlayfairDisplay/regular.woff") format("woff");
  font-display: swap;
}

@font-face {
  font-family: "PlayfairDisplay";
  font-style: normal;
  font-weight: 700;
  src: local("PlayfairDisplay"),
       url("PlayfairDisplay/bold.woff2") format("woff2"),
       url("PlayfairDisplay/bold.woff") format("woff");
  font-display: swap;
}

@font-face {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  src: local("Roboto"),
       url("Roboto/regular.woff2") format("woff2"),
       url("Roboto/regular.woff") format("woff");
  font-display: swap;
}


@font-face {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  src: local("Roboto"),
       url("Roboto/bold.woff2") format("woff2"),
       url("Roboto/bold.woff") format("woff");
  font-display: swap;
}
      